* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

html,
body {
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(71, 7, 7);
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.painel {
  background-color: white;
  width: 90vw;
  max-width: 500px;
  height: 90vh;
  max-height: 850px;
  border-radius: 20px;
  text-align: center;
  padding: 5vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 1s ease-out;
}

.painel h1,
.painel h2,
.painel h3,
.painel h4 {
  font-family: "Dancing Script", cursive;
}

.painel h2 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.painel h3,
.painel h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.text-box,
.text-box2 {
  width: 250px;
  height: auto;
  padding: 15px;
  font-size: 16px;
  color: white;
  position: relative;
  animation: fadeInUp 1s ease-out;
}

.text-box {
  right: 50px;
  text-align: left;
}

.text-box2 {
  left: 50px;
  text-align: left;
}

.text-box ul,
.text-box2 ul {
  list-style-type: none;
}

.text-box li,
.text-box2 li {
  margin-bottom: 10px;
}

.text-box .item5,
.text-box .item8,
.text-box .item9 {
  color: green;
}

.text-box2 .item5 {
  color: green;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 315px;
  cursor: pointer;
}

.video-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.video-container iframe {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

h1 {
  margin-bottom: 10%;
}

h2 {
  margin-top: 10%;
}

.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #ff4d4d;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #e60000;
}

.input-section {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
}

.input-section input {
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  width: 80%;
}

.input-section button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-section button:hover {
  background-color: #45a049;
}

.verde {
  color: green !important;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .painel {
    order: 1;
    margin-top: 30px;
    height: auto;
    max-height: none;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-box {
    order: 2;
    margin: 50px 0 0 0;
    padding: 0;
  }

  .text-box2 {
    order: 3;
    margin: 0;
    padding: 0;
  }

  .text-box,
  .text-box2 {
    width: 90%;
    max-width: 300px;
    display: block;
    position: static;
  }

  .text-box ul,
  .text-box2 ul {
    padding-left: 0;
    margin: 0;
    text-align: left;
  }

  .text-box li,
  .text-box2 li {
    text-align: left;
  }

  .text-box2 {
    margin-bottom: 20px;
  }
}
